
.logo{
  height: 20%;
}

.title-login {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.btn {
  background: #013a81;
}
