<ion-header>
    <ion-toolbar>
        <ion-grid style="width: 100%;margin: 0">
            <ion-row>
                <ion-col class="align-content-lg-start" (click)="logout()">
                    Выход
                </ion-col>
                <ion-col>

                </ion-col>
                <ion-col (click)="create()">
                    <a class="waves-effect btn blue"><i class="Tiny material-icons">add</i></a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-grid style="width: 100%;margin: 0">
                <ion-row>
                    <ion-col class="align-content-lg-start">
                        0
                    </ion-col>
                    <ion-col>
                        УралХим
                    </ion-col>
                    <ion-col>
                        05.12.2018
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
